form#search {
  position: fixed;
  top: 10px; /* 距离顶部的距离 */
  left: 50%; /* 左边距设置为50% */
  transform: translateX(-50%); /* 向左移动自身宽度的一半，实现水平居中 */
  z-index: 1000; /* 确保表单在页面上层显示 */
  background: inherit;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  font-size: 18px;
  border: 2px solid #ff99c2;
  border-radius: 30px;
  outline: none;
  transition: all 0.3s ease;
  box-sizing: border-box;
  background: #fff url('/assets/images/24-24x2.png') no-repeat right center;
  background-size: 50px;
  margin-bottom: 20px;
}

input[type="text"]:focus {
  border-color: #ff4caf99;
  box-shadow: 0 0 8px rgba(255, 76, 154, 0.3);
}

input[type="hidden"] {
  display: none;
}

button {
  background-color: #ff99c2;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(255, 153, 194, 0.4);
}

button:hover {
  background-color: #ff66a3;
  transform: scale(1.05);
}